
HotelManagement/bin
HotelManagement/obj
.vs/HotelManagement/FileContentIndex/59707785-019c-4d2c-92dc-a1d8a5a0be67.vsidx
.vs/HotelManagement/FileContentIndex/010d7815-a58d-4777-83ea-80b0df174cba.vsidx
