html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

 div {
      margin-top: 20px; /* Adjust the margin as needed */
}

button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Add some padding for better appearance */
    margin: 5px; /* Adjust the margin as needed */
    text-decoration: none; /* Remove default button text underline */
    border: none; /* Remove button border */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

    button a {
        color: inherit; /* Inherit text color from the button */
        text-decoration: none; /* Remove default link underline */
    }

    button:hover {
        background-color: #45a049; /* Darker green color on hover */
    }

